<form>
    <div class="form-group">
        <label for="Guardian1">Parent/Guardian #1</label>
        <input type="text" id="Guardian1" class="form-control">
    </div>
    <div class="form-group">
        <label for="Birthday">Birthday</label>
        <input type="text" id="Birthday" class="form-control" placeholder="MM/DD/YYYY">
    </div>
    <div class="form-group">
        <label for="Relation">Relation(select one)</label>
        <select id="Relation" class="custom-select">
            <option value="Mom">Mom</option>
            <option value="Dad">Dad</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Phone number">Phone number</label>
        <input type="numberid" class="form-control">
    </div>
    <div class="form-group">
        <label for="Language">Primary Language</label>
        <select id="Language" class="custom-select">
            <option value="English">English</option>
            <option value="Mandarin">Mandarin</option>
            <option value="Cantonese">Cantonese</option>
            <option value="OtherLanguage">Other</option>
        </select>
    </div>
    <label for="Citizen">Are you a United States citizen?</label>
    <div class="form-group">
        <div class="form-check-inline">
            <input type="radio" id="Citizin01" value="Yes" class="form-check-input">
            <label for="Citizen" class="form-check-label">Yes</label>
        </div>
        <div class="form-check-inline">
            <input type="radio" id="Citizin02" value="No" class="form-check-input">
            <label for="Citizen" class="form-check-label">No</label>
        </div>
    </div>
    <label for="Voter">Are you registered to vote?</label>
    <div class="form-group">
        <div class="form-check-inline">
            <input type="radio" id="Voter01" value="Yes" class="form-check-input">
            <label for="Voter" class="form-check-label">Yes</label>
        </div>
        <div class="form-check-inline">
            <input type="radio" id="Voter02" value="No" class="form-check-input">
            <label for="Voter" class="form-check-label">No</label>
        </div>
    </div>
    <label for="Otherintrests">Are you interested in other CMAA services, including free English classes,
        free elderly assistance for elgible seniors, or otherwise</label>
    <div class="form-group">
        <div class="form-check-inline">
            <input type="radio" id="interest01" value="Yes" class="form-check-input">
            <label for="Otherintrests" class="form-check-label">Yes</label>
        </div>
        <div class="form-check-inline">
            <input type="radio" id="interest02" value="No" class="form-check-input">
            <label for="Otherintrests" class="form-check-label">No</label>
        </div>
    </div>
    <div class="form-group">
        <label for="Guardian2">Parent/Guardian #2</label>
        <input type="text" id="Guardian2" class="form-control">
    </div>
    <div class="form-group">
        <label for="Birthday">Birthday</label>
        <input type="text" id="Birthday" class="form-control" placeholder="MM/DD/YYYY">
    </div>
    <div class="form-group">
        <label for="Relation">Relation(select one)</label>
        <select id="Relation" class="custom-select">
            <option value="Mom">Mom</option>
            <option value="Dad">Dad</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Phone number">Phone number</label>
        <input type="numberid" class="form-control">
    </div>
    <div class="form-group">
        <label for="Language">Primary Language</label>
        <select id="Language" class="custom-select">
            <option value="English">English</option>
            <option value="Mandarin">Mandarin</option>
            <option value="Cantonese">Cantonese</option>
            <option value="OtherLanguage">Other</option>
        </select>
    </div>
    <label for="Citizen">Are you a United States citizen?</label>
    <div class="form-group">
        <div class="form-check-inline">
            <input type="radio" id="Citizin01" value="Yes" class="form-check-input">
            <label for="Citizen" class="form-check-label">Yes</label>
        </div>
        <div class="form-check-inline">
            <input type="radio" id="Citizin02" value="No" class="form-check-input">
            <label for="Citizen" class="form-check-label">No</label>
        </div>
    </div>
    <label for="Voter">Are you registered to vote?</label>
    <div class="form-group">
        <div class="form-check-inline">
            <input type="radio" id="Voter01" value="Yes" class="form-check-input">
            <label for="Voter" class="form-check-label">Yes</label>
        </div>
        <div class="form-check-inline">
            <input type="radio" id="Voter02" value="No" class="form-check-input">
            <label for="Voter" class="form-check-label">No</label>
        </div>
    </div>
    <label for="Otherintrests">Are you interested in other CMAA services, including free English classes,
        free elderly assistance for elgible seniors, or otherwise</label>
    <div class="form-group">
        <div class="form-check-inline">
            <input type="radio" id="interest01" value="Yes" class="form-check-input">
            <label for="Otherintrests" class="form-check-label">Yes</label>
        </div>
        <div class="form-check-inline">
            <input type="radio" id="interest02" value="No" class="form-check-input">
            <label for="Otherintrests" class="form-check-label">No</label>
        </div>
    </div>