<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstName">First Name *</label>
      <input type="text" id="firstName" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="lastName">Last Name *</label>
      <input type="text" id="lastName" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="homeAddress1">Address 1 *</label>
    <input type="text" id="homeAddress1" class="form-control" placeholder="Street address">
  </div>
  <div class="form-group">
    <label for="homeAddress2">Address 2</label>
    <input type="text" id="homeAddress2" class="form-control" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="homeZipcode">Zip Code *</label>
      <input type="text" id="homeZipcode" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="phoneNumber">Phone Number *</label>
      <input type="tel" id="phoneNumber" class="form-control">
    </div>
  </div>
  <label for="checkboxHispanic">Ethnicity *</label>
  <div class="form-group">
    <div class="form-check-inline">
      <input type="radio" id="radioHispanic01" value="Yes" class="form-check-input">
      <label for="ethnicity" class="form-check-label">Hispanic</label>
    </div>
    <div class="form-check-inline">
      <input type="radio" id="checkboxHispanic02" value="No" class="form-check-input">
      <label for="ethnicity" class="form-check-label">Not Hispanic</label>
    </div>
  </div>
  <div class="form-group">
    <label for="raceSelect">Race *</label>
    <select id="raceSelect" class="custom-select">
      <option value="American Indian Alaskan Native">American India/Alaskan Native</option>
      <option value="Asian">Asian</option>
      <option value="Black/African American">Black/African American</option>
      <option value="Native Hawaiian/Other Pacific Islander">Native Hawaiian/Other Pacific Islander</option>
      <option value="White">White</option>
      <option value="Other/Multi racial">Other/Multi racial</option>
    </select>
  </div>
  <label for="checkboxGender">Gender *</label>
  <div class="form-group">
    <div class="form-check-inline">
      <input type="radio" id="radioGender01" value="Yes" class="form-check-input">
      <label for="ethnicity" class="form-check-label">Male</label>
    </div>
    <div class="form-check-inline">
      <input type="radio" id="radioGender02" value="No" class="form-check-input">
      <label for="ethnicity" class="form-check-label">Female</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="dateOfBirth">Date of Birth</label>
      <div class="form-group">
        <input type="date" id="dateOfBirth" class="form-control">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="age">Age</label>
      <input type="number" id="age" class="form-control">
    </div>
  </div>
</form>